.page.theme_dark {
  --h1-color: 219, 0, 255;
  --subtitle-color: 0, 0, 40;
  --accent-color: 255, 0, 112;
  --text-color: 241, 178, 206;
  --background-color: 0, 0, 40;
  --buttons-color: 255, 0, 112;
  --background-image: url("../images/cover-image-dark.png");
  --visibility: visible;
}
