.page.theme_light {
  --h1-color: 255, 194, 230;
  --background-color: 255, 241, 247;
  --subtitle-color: 53, 52, 48;
  --accent-color: 255, 141, 203;
  --text-color: 53, 52, 48;
  --background-color: 255, 241, 247;
  --buttons-color: 53, 52, 48;
  --background-image: url("../images/cover-image-light.png");
  --visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --h1-color: 255, 194, 230;
    --background-color: 255, 241, 247;
    --subtitle-color: 53, 52, 48;
    --accent-color: 255, 141, 203;
    --text-color: 53, 52, 48;
    --background-color: 255, 241, 247;
    --buttons-color: 53, 52, 48;
    --background-image: url("../images/cover-image-light.png");
    --visibility: hidden;
  }
}
